In [5]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

In [6]:
train  = pd.read_csv('train_E6oV3lV.csv')
test = pd.read_csv('test_tweets_anuFYb8.csv')

In [7]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [8]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [9]:
train['tweet']=np.vectorize(remove_pattern)(train['tweet'], "@[\w]*")

In [10]:
train.head()

   id  label                                              tweet
0   1      0    when a father is dysfunctional and is so sel...
1   2      0    thanks for #lyft credit i can't use cause th...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [11]:
train['tweet'] = train['tweet'].str.replace("[^a-zA-Z#]", " ")

In [12]:
train.head()

   id  label                                              tweet
0   1      0    when a father is dysfunctional and is so sel...
1   2      0    thanks for #lyft credit i can t use cause th...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide  society now    #motivation

In [13]:
train['tweet'] = train['tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [14]:
train['tweet']=train['tweet'].apply(lambda x:x.split())

In [15]:
train.head()

   id  label                                              tweet
0   1      0  [when, father, dysfunctional, selfish, drags, ...
1   2      0  [thanks, #lyft, credit, cause, they, offer, wh...
2   3      0                            [bihday, your, majesty]
3   4      0                   [#model, love, take, with, time]
4   5      0                 [factsguide, society, #motivation]

from nltk.stem.porter import *
s = PorterStemmer()

In [16]:
from nltk.stem.porter import *
s = PorterStemmer()

In [17]:
train['tweet'] = train['tweet'].apply(lambda x: [s.stem(i) for i in x])

In [18]:
train.head()

   id  label                                              tweet
0   1      0  [when, father, dysfunct, selfish, drag, kid, i...
1   2      0  [thank, #lyft, credit, caus, they, offer, whee...
2   3      0                            [bihday, your, majesti]
3   4      0                   [#model, love, take, with, time]
4   5      0                       [factsguid, societi, #motiv]

In [19]:
train['tweet']=train['tweet'].apply(lambda x:' '.join(x))

In [20]:
train.head()

   id  label                                              tweet
0   1      0  when father dysfunct selfish drag kid into dys...
1   2      0  thank #lyft credit caus they offer wheelchair ...
2   3      0                                bihday your majesti
3   4      0                         #model love take with time
4   5      0                           factsguid societi #motiv

In [21]:
from textblob import TextBlob
l=[] 
for i in train['tweet']:
    t=TextBlob(i)
    l.append(t.sentiment.polarity)

In [22]:
train['pop']=l

In [23]:
train.head()

   id  label                                              tweet  pop
0   1      0  when father dysfunct selfish drag kid into dys... -0.3
1   2      0  thank #lyft credit caus they offer wheelchair ...  0.0
2   3      0                                bihday your majesti  0.0
3   4      0                         #model love take with time  0.5
4   5      0                           factsguid societi #motiv  0.0